{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<h1>Perangkat Penilaian Laboratorium (PPL) Manajemen Biorisiko</h1>
{% if reports %}
{% for report in reports %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ report.author }}</a>
            <small class="text-muted">{{ report.date_posted|date:"F d, Y" }}</small>
            
        </div>
        <h2><a class="article-title" href="{% url 'report-detail' report.id %}">{{ report.judul_laporan }}</a>
        <div style="float: right;">
    		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'report-update' report.id %}" style="background-color: #7ea4b3; border-color: #7ea4b3;">Perbarui</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'report-delete' report.id %}" style="background-color: #cb9fc4; border-color: #cb9fc4;">Hapus</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'pdf_view' report.id %}" style="background-color: #61b9e2; border-color: #61b9e2;">Download</a>
		</div>
    </div>
</article>
{% endfor %}
{% else %}
<div class="alert alert-warning">
    Belum ada laporan yang dibuat
</div>
{% endif %}
{% endblock content%}