{% extends "blog/base.html"%}
{% block content %}
{% load static %} 
<div class="row justify-content-center">
    <div class="col-11">
        <div class="card">
            <img src="{% static 'blog/assets/images/Tentang2.JPG' %}" alt="Background Tentang" class="tentang-img"/>
            <div class="card-body">
                <h1 class="card-title">Manajemen Biorisiko</h1>
                <h2 class="card-title">Gambaran Umum</h2>
                <p class="card-text text-justify">
                    Kuesioner ini merupakan sistem pemetaan kapasitas dasar laboratorium ilmu hayati (life science) berbasis website
                    yang dikembangkan oleh Indonesia One Health University Network (INDOHUN) melalui program One Health
                    Laboratory Network (OHLN). Sistem ini menggunakan teknologi yang sederhana dan mudah diaplikasikan, sebagai
                    alat bantu untuk melakukan pemetaan kapasitas dasar di laboratorium ilmu hayati (kesehatan manusia, kesehatan
                    hewan, lingkungan, perikanan, dan makanan).
                    <br>
                    <br>
                    Kuesioner pemetan penilaian ini juga dapat digunakan untuk memantau kapasitas dasar, kekuatan dan kesenjangan
                    suatu organisasi laboratorium ilmu hayati (life science) maupun fasilitas hewan, khususnya laboratorium di perguruan
                    tinggi, kementerian dan lembaga serta laboratorium pihak swasta dalam mengimplementasikan sistem manajemen
                    biorisiko.
                </p>
                <br>
                <h2 class="card-title">Tim Penyusun</h2>
                <p class="card-text text-justify">
                    <span style="font-weight:bold">Pengarah: </span> Prof. drh. Wiku Adisasmito, M.Sc, PhD (INDOHUN/Fakultas Kesehatan Masyarakat, Universitas Indonesia)
                    <br>
                    <span style="font-weight:bold">Ketua Tim: </span> Dr. drh. Joko Pamungkas, M.Sc (Fakultas Kedokteran Hewan, Institut Pertanian Bogor)
                    <br>
                    <br>
                    <span style="font-weight:bold">Anggota: </span> 
                    <br>
                    1. dr. Anis Karuniawati, Sp.MK(K), PhD (Fakultas Kedokteran, Universitas Indonesia)
                    <br>
                    2. Dr. drh. Diah Iskandriati (Pusat Studi Satwa Primata, Institut Pertanian Bogor)
                    <br>
                    3. Aroem Naroeni, DEA, PhD (Pusat Riset Virologi dan Kanker Patobiologi, Fakultas Kedokteran UI - RSCM)
                    <br>
                    4. dr. Tjahjani Mirawati Soediro, PhD (Departemen Mikrobiologi, Fakultas Kedokteran, Universitas Indonesia)
                    <br>
                    5. Dr. drh. Eko Sugeng Pribadi, MS (Fakultas Kedokteran Hewan, Institut Pertanian Bogor)
                    <br>
                    6. Agus Heri Setiawan, SKM, MPH (INDOHUN)
                    <br>
                    7. Rahmi Nuraini, S.Gz (INDOHUN)
                    <br>
                    <br>
                    Perangkat ini dapat digunakan dengan ketentuan sebagai berikut a) memberikan atribut
                    
                    perangkat atau sitasi, b) dilarang keras menggunakan perangkat ini untuk tujuan komersial dan
                    
                    penelitian tanpa izin dari INDOHUN, c) dilarang mengubah atau membuat turunan dari perangkat ini.
                    <br>
                    <br>
                    Semua permintaan untuk translasi, penggunaan untuk tujuan penelitian dan komersial harus menghubungi
                    
                    nco@indohun.org atau ke 021 2930 2084.
                    
                    <br>
                    <br>
                    Dipublikasikan oleh INDOHUN National Coordinating Office
                    
                    Kampus Baru Universitas Indonesia, Fakultas Kesehatan Masyarakat, Gedung G Lantai 3, Ruang 316
                    
                    Depok, Jawa Barat, Indonesia 16424.
                </p>
                <a href='https://forms.gle/PLvwYkRssMo11kXZA' class="btn btn-primary custom-button">Buat Laporan Baru</a>
                <a href="{% url 'tentang_manajement' %}" class="btn btn-primary custom-button" style="float: right">Laporan Berikutnya</a>
            </div>
        </div>
    </div>
</div>
{% endblock content%}