{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- ============================================================== -->
<!-- forgot password confirmation -->
<!-- ============================================================== -->
{% block content %}
<div class="card-header text-center"><img class="logo-img" src="{% static 'users/assets/images/indohun.png' %}"
        alt="logo"><span class="splash-description">Lupa Akun</span></div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <p>Masukan password anda yang baru</p>
	        <div id="div_id_new_password1" class="form-group"> 
	        	<label for="id_new_password1" class=" requiredField">
	                Password Baru <span class="asteriskField">*</span> 
	            </label> 
                <div class=""> 
                	<input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password1"> 
	                	<small id="hint_id_new_password1" class="form-text text-muted">
		                	<ul>
		                		<li>Password anda jangan memakai informasi personal.</li>
		                		<li>Password anda harus lebih dari 8 karakter.</li>
		                		<li>Password anda tidak boleh password lama.</li>
		                		<li>Password anda tidak bisa memakai semua karakter angka.</li>
		                	</ul>
	                	</small> 
                </div> 
            </div> 
            <div id="div_id_new_password2" class="form-group"> 
            	<label for="id_new_password2" class=" requiredField">
                	Konfirmasi Password
                	<span class="asteriskField">*</span> 
            	</label> 
            		<div class=""> 
            			<input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput form-control" required id="id_new_password2"> 
            		</div> 
        	</div>
        <div class="form-group">
            <button class="btn btn-block btn-primary btn-xl" type="submit">Ubah Password</button>
        </div>
    </form>
</div>
{% endblock content %}
<!-- ============================================================== -->
<!-- end forgot password confirmation -->
<!-- ============================================================== -->